<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Información de Contacto</h5>
                <p>Correo electrónico: al247341&#64;edu.uaa.mx.</p>
                <p>Teléfono: +4747947654</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a class="nav-link" [routerLink]="['/about']"><i class="fas fa-info-circle"></i> Acerca de Nosotros</a></li>
                    <li><a class="nav-link" [routerLink]="['/reservation']"><i class="fas fa-cog"></i> Servicios</a></li>
                    <li><a class="nav-link" [routerLink]="['/contact']"><i class="fas fa-envelope"></i> Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/airbnb"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/airbnb"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/dreamstay_airbnb"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/airbnb"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                
            </div>
        </div>
    </div>
</footer>
