<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<br><br><br>
    <section class="contact">
        <div class="content">
            <h2>Contáctanos</h2>
            <p>Estamos disponibles para ayudarte en cualquier momento. Si tienes preguntas o necesitas asistencia, no dudes en contactarnos. Tu satisfacción es nuestra prioridad. ¡Estamos aquí para ti!</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="text">
                        <h3>Dirección</h3>
                        <p>Av. Universidad # 940,<br>Ciudad Universitaria, C.P. 20100,<br>Aguascalientes, Ags. México</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fas fa-phone-alt"></i></div>
                    <div class="text">
                        <h3>Teléfono</h3>
                        <p>4747947654</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fas fa-envelope"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>al247341&#64;edu.uaa.mx</p>
                    </div>
                </div>
                <h2 class="txt">Conéctate con nosotros</h2>
                <ul class="sci">
                    <li><a href="https://www.facebook.com/airbnb"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/airbnb"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.instagram.com/dreamstay_airbnb"><i class="fab fa-instagram"></i></a></li>
                </ul>
                
                
            </div>

            <div class="contactForm">
                <form id="contactForm" method="post">
                    <h2>Mandar Mensaje</h2>
                    <div class="inputBox">
                        <input type="text" name="nombre" required="required">
                        <span>Nombre Completo</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea name="mensaje" required="required"></textarea>
                        <span>Escribe tu mensaje..</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-footer></app-footer>