
<div class="video-background">
  <video autoplay muted loop>
    <source src="../../assets/media/fondo_search.mp4" type="video/mp4">
    Tu navegador no soporta videos HTML5.
</video>


  <div class="video-overlay"></div>
<br><br>
  <div class="content-container">
    <div class="container">
      <div class="row mt-5">
        <h1 class="title">Buscar Disponibilidad de Airbnb</h1>
        <p class="subtitle">Selecciona el país que deseas buscar</p>
        
        <!-- Select para elegir el país -->
        <select class="form-control" #selectedCountry (change)="ver(selectedCountry.value)">
          <option value="">Selecciona un país</option>
          <option *ngFor="let pais of paisesform" [value]="pais">{{ pais }}</option>
        </select>

        <!-- Mostrar resultados -->
        <ng-container *ngIf="index !== -1; else noexiste">
          <div class="result-card">
            <div class="card-body">
              <h2 class="card-title"> "¡Nos complace informarte que hay disponibilidad de alojamientos en Airbnb en {{datos.pais}}! Encuentra tu lugar ideal para hospedarte con nosotros."</h2>
              <a [routerLink]="['/reservation']" class="btn btn-primary btn-lg mt-3">Explorar Ahora</a>
            </div>
          </div>
        </ng-container>

        <!-- Mensaje si no hay resultados -->
        <ng-template #noexiste>
          <div class="no-result">
            <p class="message">{{mensaje}}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
